.banner {
    background-image: url("../../../assets/images/webshop-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;

    padding: 24px 0;

    z-index: 1;
}

.background--dark{
    background: rgba(000, 000, 000, 0.5);

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: -1;
}

.banner > *{
    color: white;
    text-align: center;
    padding: 16px 42px;
}

.product__container h2{
    text-align: center;
    padding: 24px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(320px - 25.25px));
    grid-gap: 20px;

    padding: 10px 20px 30px 20px;

    grid-auto-rows: 1fr;

    max-width: 1280px;
    margin: auto;
}

/* @media screen and (max-width: 1080px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
    }
} */
