<div>
    <app-banner>
        <h1>Online shop</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ad maxime illum assumenda eum deleniti unde delectus repellat maiores hic, consequatur accusantium, laudantium ducimus. Qui distinctio quisquam ipsa totam accusamus. Omnis cupiditate perferendis quas! Quidem amet commodi nam nemo? Reiciendis itaque, ratione tenetur maiores assumenda distinctio possimus id exercitationem quam. Excepturi vitae reprehenderit libero rem pariatur dolorum sapiente repudiandae vel perspiciatis hic qui debitis autem enim incidunt, provident unde earum eius eum iste vero sunt doloribus. Alias cupiditate, ipsa modi dolorem vero earum nostrum incidunt porro eius quis perferendis tenetur natus nesciunt. Qui rerum accusamus, est voluptatibus unde enim delectus!</p>
    </app-banner>
    <div class="product__container">
        <h2>Products</h2>
        <div class="container">
            <app-productitem *ngFor="let product of products" [productitem]="product"></app-productitem>
        </div>
    </div>
</div>
