<div>
    <app-banner>
        <h1>Online shop</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ad maxime illum assumenda eum deleniti unde delectus repellat maiores hic, consequatur accusantium, laudantium ducimus. Qui distinctio quisquam ipsa totam accusamus. </p>
    </app-banner>
    <div class="product__container">
        <h2>Products</h2>
        <div class="container">
            <app-productitem *ngFor="let product of products" [productitem]="product"></app-productitem>
        </div>
    </div>
</div>
