<div #scroll>
    <app-banner>
        <h1>Order</h1>
        <p>Yuh</p>
    </app-banner>
    <app-previous></app-previous>
    <div class="container">
        <div class="order">
            <div class="customer-details">
                <h2 class="header">Shipment details</h2>
                <div class="detail">
                    <form *ngIf="authService.isLoaded == true && authService.currentUser != undefined" #info="ngForm"
                        (ngSubmit)="onFormSubmit(info)">
                        <div
                            *ngFor="let property of [].constructor(orderService.getOrderProperties()?.length); let i = index">
                            <div class="group" *ngIf="!orderService.getEditable()">
                                <p class="label">{{ orderService.getOrderProperties()![i].key }}: </p>
                                <p>{{ orderService.getOrderProperties()![i].value }}</p>
                            </div>
                            <div class="group" *ngIf="orderService.getEditable()">
                                <p class="label">{{ orderService.getOrderProperties()![i].key }}: </p>
                                <input [(ngModel)]="orderService.getOrderProperties()![i].value"
                                    [name]="orderService.getOrderProperties()![i].key" type="text"
                                    [value]="orderService.getOrderProperties()![i].value" />
                            </div>
                        </div>
                        <div class="actions">
                            <button *ngIf="!orderService.getEditable()" class="action" (click)="toggleEditable()">Edit
                                information</button>
                            <button type="submit" *ngIf="orderService.getEditable()" class="action">Save</button>
                        </div>
                    </form>
                    <h1 *ngIf="!authService.isLoaded == true">Is loading</h1>
                </div>
            </div>
            <div class="order-details">
                <app-details></app-details>
                <div class="actions" *ngIf="length > 0">
                    <button class="action" type="submit" (click)="createOrder()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>