.banner {
    display: flex;
    flex-direction: row;

    min-height: 350px;

    position: relative;

    z-index: 1;

    border: 20px solid darkseagreen;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1
}

.banner-right{
    background: darkseagreen;
    flex: 1;
}

.banner ::ng-deep > *{
    color: black;
    padding: 16px 42px;
}
