

form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

hr{
    margin: 25px 0;
}

.alternative {
    text-align: center;
}

.alternative > * {
    margin-top: 5px;
}

.alternative .login {
    width: 50%;
    padding: 10px;
}

.container {
    width: 600px;
    margin: 24px auto;

    border: 1px solid black;
    padding: 10px 20px 30px;
    border-radius: 5px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    position: relative;
}

.form-group > * {
    margin-top: 5px;
}

.form-group input, .register, .login  {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.left-group, .right-group {
    flex: 1;
    
    display: flex;
    flex-direction: column;
}

.password-rate {
    margin-top: 10px;
    flex: 1;
}

.headsup-message{
    background-color: darkseagreen;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

.line {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 5px;
    background-color: grey;
}

.line.correct{
    background: darkseagreen;
}

.rate-bar div{
    display: flex;
    flex-direction: row;
    width: 125px;
}

.rate-bar p {

    margin-right: 10px;
}

.registered-message {
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.message-box{
    margin-top: 10px;
    padding: 10px;
    display: block;
    background: wheat;
    border: 2px solid black;
    border-radius: 5px;
}

.register {
    width: 100%;
    margin-top: 10px;
    background-color: darkseagreen;
}

.register, .login{
    transition: 0.25s all ease-in-out
}

.register:hover {
    border: 1px solid darkseagreen;
    background-color: white;
    color: darkseagreen;
}

.login:hover {
    border: 1px solid black;
    background-color: darkseagreen;
}

.reveal-eye{
    position: absolute;
    right: 30px;
    top: 35px;
    color: grey;
}